<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="KVDemo" type="CS.Config.KeyValueSectionHandler,CSHive"/>
    
  </configSections>

  <KVDemo>
    <add key="demo" ><![CDATA[
    This  is aall date
    <hr/>
    
    <h2>hello world</h2>
    ]]></add>

    <add key="demo2" value="">
      <![CDATA[
    hell 
    <h2>hello world</h2>
    ]]></add>
    
    <add key="demo3" value="demo3">
      <![CDATA[
    hell 
    <h2>hello world</h2>
    ]]>
    </add>
  </KVDemo>
  
  
</configuration>